mat-toolbar{
    background-color: black;
}

mat-icon{
    color: white;
}

.toolbar-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menus-list{
    display: flex;
    flex-direction: row;    
}

.menus-list a{
    margin-top: auto;
    margin-bottom: auto;
    color:white;
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    overflow: hidden;

}

.logo-container a{
    height: 100%;
    display: flex;
    flex-direction: column;
}

img{
    height: 80%;
    margin: auto;
}


@media screen 
and (max-width:1200px)
and (orientation: portrait)
{
    .menus-list{
        display: none;
    }

    .logo-container{
        margin-right: 2%;
    }

}

