<mat-toolbar color="basic" class="toolbar-container">
    <mat-toolbar-row>

        <button mat-icon-button class="btn-menu" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="toolbar-wrapper">

            <div class ="menus-list">
                <a mat-button [routerLink]="['/']"> Home </a>
                <a mat-button [routerLink]="['/']"> Competitions </a>      
            </div>

            <div class = "logo-container">
                <a [routerLink] = "['']"><img src="./../../../../assets/logo.png" alt=""></a>                
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
