<div class="search-container">
    <mat-form-field appearance="fill" class="search-field">
        <mat-label>Buscar equipo. . .</mat-label>
        <input autocomplete="off" matInput #inputSearch  (keyup)="onKeyUp($event)" [matAutocomplete]="auto" />
        <mat-icon matPrefix color="primary">search</mat-icon>
        <mat-icon matSuffix color="primary" (click)="onCancel($event)">close</mat-icon>   

        <mat-autocomplete (optionSelected)='onOptionSelected($event)' #auto="matAutocomplete">
            <mat-option *ngFor="let data of dataStored" [value]="data">
            {{  data.teamName  }}
            </mat-option>
        </mat-autocomplete>

    </mat-form-field>
</div>

<div class = "cont-card-presentation-team" *ngIf="teamSelected">
    <mat-card>
        <mat-card-header style="display: flex; justify-content: center; align-items: center;">
            <mat-card-title #matCardTitle> {{ teamSelected.teamName }} </mat-card-title>
            <mat-card-subtitle>{{ teamSelected.country }}</mat-card-subtitle>
          </mat-card-header>

        <mat-card-content style="display: flex; justify-content: center; align-items: center;">
            <!-- <span> {{ countryTeam }}</span> -->
            <img [src]="imgTeamsrc" alt="team" class="img-logo-team">
            

        </mat-card-content>

        <mat-card-footer>
              
        </mat-card-footer>
    </mat-card>
</div>

<div *ngIf="arrTeamsLeague.length >= 1" class="cont-table" #tableLeague>
    <table mat-table [dataSource]="arrTeamsLeague" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'special-row': isSpecialRow(element.strTeam)}"> {{element.strTeam}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Racha">
          <th mat-header-cell *matHeaderCellDef>Racha</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'special-row': isSpecialRow(element.strTeam)}"> {{element.strForm}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Jugados">
          <th mat-header-cell *matHeaderCellDef>Jugados</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'special-row': isSpecialRow(element.strTeam)}"> {{element.intPlayed}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Puntos">
          <th mat-header-cell *matHeaderCellDef>Puntos</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{'special-row': isSpecialRow(element.strTeam)}"> {{element.intPoints}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<div *ngIf="arrTeamsLeague.length >= 1" class="cont-last-results" #tableResults>

  <table mat-table [dataSource]="arrLastResults" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element"> {{element.dateEventLocal}} </td>
    </ng-container>

    <ng-container matColumnDef="Torneo">
      <th mat-header-cell *matHeaderCellDef>Torneo</th>
      <td mat-cell *matCellDef="let element"> {{element.strLeague}} </td>
    </ng-container>

    <ng-container matColumnDef="Equipo Local">
      <th mat-header-cell *matHeaderCellDef>Equipo Local</th>
      <td mat-cell *matCellDef="let element"> {{element.strHomeTeam}} </td>
    </ng-container>

    <ng-container matColumnDef="Resultado">
      <th mat-header-cell *matHeaderCellDef>Resultado</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'result-winner': SetBackgroundColorVictory(element), 'result-drawn' : SetBackgroundColorDraw(element) , 'result-defeat' :SetBackgroundColorDefeat(element)}"> 
        {{element.intHomeScore}} - {{element.intAwayScore}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Equipo Visitante">
      <th mat-header-cell *matHeaderCellDef>Equipo Visitante</th>
      <td mat-cell *matCellDef="let element"> {{element.strAwayTeam}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element"> + </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsResults"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsResults;"></tr>
  </table>
</div>



